main {
    width: 90%;
    max-width: 1000px; /* Sets a maximum width for the main content area to ensure it doesn't stretch too wide on large screens */
    margin: 0 auto;
}

html,
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #002C18;
    width: 100vw; /*   100% of the viewport width */
    margin-left: calc(50% - 50vw); /* calc 50% of the viewport width and subtract 50% of the parent element's width to center the nav */
}

.header-content {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px 0;

    display: flex;
    align-items: center;
}

.logo {
    width: 180px;
    height: auto;
}

nav {
    display: flex;
    gap: 35px;
    margin-left: auto;
}

nav a {
    color: white;
    text-decoration: none;
}
.donate-button {
    margin-left: 40px;

    background-color: #AC7D32;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
}

body {
  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #d3d3d3;

    background-image: url("images/sandy_pattern.png");
    background-repeat: repeat;
    background-size: 180px;
    }
}



/* =======================================================
        For the homepage
========================================================*/
/* -------------------- */
/*  introduction */
/* -------------------- */

#introduction {
    margin-top: 0;
}

#introduction figure {
    margin: 0;
}

#introduction img {
    display: block;
    width: 100%;
    height: auto;
}


/* -------------------- */
/* Program overview     */
/* -------------------- */

#overview {
    margin-top: 50px;
    overflow: auto; /* Creates a new block formatting context that contains the floated children,
                       preventing the parent from collapsing. Without this, #overview would have 
                       zero height since floated elements are removed from normal document flow. */
}

#overview article {
    float: left;
    width: 48%;
}

#overview figure {
    float: right;
    width: 48%;
    margin: 0;
}

#overview img {
    width: 100%;
    display: block;
}


/* -------------------- */
/* Impacts              */
/* -------------------- */

#impacts {
    clear: both;  /* Ensures that the #impacts section starts below any floated elements from previous sections. */
    margin-top: 30px;
    overflow: auto; 
}

#impacts article {
    float: left;
    width: 48%;
    margin-right: 4%;
}

#impacts article:last-child { /* Removes the right margin from the last article 
                                so it goes right rather than being pushed down */  
    margin-right: 0;
}

/* Making sure that the figure doesn't have margins so that it aligns properly with the article */
#impacts figure {
    margin: 0;    
}

#impacts img {
    width: 100%;
}


/* -------------------- */
/* Donor rankings       */
/* -------------------- */

#donors {
    clear: both;
    margin-top: 30px;
    overflow: auto;
}

#donors article {
    float: left;

    width: 29%;

    margin-right: 2%;
    padding: 1%;

    border: 2px solid #002C18;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

#donors article:last-child {
    margin-right: 0;
}

#donors h3 {
    margin-top: 5px;
}

#donors p {
    margin: 5px 0;
}


/* -------------------- */
/* Acknowledgement      */
/* -------------------- */

#acknowledgement {
    clear: both;
    margin-top: 30px;
}

#acknowledgement img {
    width: 100%;
    height: 180px;
}



/* =============================================
       For the about page
============================================= */


/* About page */

#team {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#team article {
    width: 45%;
}

#team figure {
    width: 48%;
    margin: 0;
}

#team figure img {
    width: 100%;
}


/* Quotes + fun facts */

#team-details {
    display: flex; /* Flexbox layout - arranges all the child elements in a row */
    /* Maybe I should have done the floated elements with flexbox too*/
    justify-content: space-between; /* Makes space between child elements evenly */
    margin-top: 50px;
}

#team-details article {
    width: 45%;
}

#team-details table {
    width: 48%;
    border-collapse: collapse; /* Makes all the borders in the table collapse into a single border instead of having double borders */
}

#team-details th,
#team-details td {
    border: 1px solid black;
    padding: 15px;
}


/* Definition list spacing */
/* dt = definition term
dd = definition description */

dt {
    margin-top: 20px;
}

dd {
    margin-top: 5px;
}



/* =============================================
       For the jobs page
============================================= */

.apply-here {
    background-color: rgb(129, 86, 7);
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 20px;
}

.jobs-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.job-title-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.job-heading {
    margin: 0;
}

#jobs-title {
    background-color: #1B4D3E;
    color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

#jobs-info {
    color: rgb(0, 0, 0);
}

.job-heading {
    color: rgb(0, 0, 0);
}

.job-block{
    background-color: #b0bdad;
    color: black;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.jobs-image {
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

.jobs-image img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

